<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>SignUp</title>
</head>
<body>
Welcome to Sign Up
<div>
<form action="/Prograd_Day_1_Lab_1/RegisterServlet" method="post">
<label> First name:</label><br><input type="text" name="Firstname" required><br>
<label> Last name:</label><br><input type="text" name="lastname" required><br>
<label> User name:</label><br><input type="text" name="username" required><br>
<label> Password:</label><br><input type="password" name="password" required><br>
<label> Confirm Password:</label><br><input type="password" name="confirmpassword" required><br>
<label> Email:</label><br><input type="email" name="email" required><br>
<label> Mobile:</label><br><input type="number" name="mobile" required><br>
<input type="submit" name="signup" value="Signup">
</form>
</div>
<p>
<ol>
<li>All fields are required</li>
<li>User name should not be empty. It can be alphanumeric</li>
<li>Password should not be empty. Password should have a minimum of 8 character and it should not be more than 20 characters.Password must be alphanumeric with 1 Uppercase, 1 lowercase and special characters.
</ol>
</body>
</html>